@charset "utf-8";
/* CSS Document */

.smallLogo{
	width:45px;
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.cardheader {
	display: inline-block;
	vertical-align: center;
}

#emailInput, #firstNameInput, #lastNameInput{
	background-image: url(profile.png);
	background-position: 2px 0px;
}

#passwordInput, #confirmInput{
	background-image: url(lock.png);
	background-position: 8px 0px;
}

#passwordInput, #confirmInput, #emailInput, #firstNameInput, #lastNameInput{
	background-repeat: no-repeat;
	text-indent: 35px;
	background-size: contain;
}
#createAccountButton {
	background-color: red;
}

.signUpButton {
	horizantal-align: center;
	width: 30%;
	background-color: red;
	border-radius: 10px;
}

.logincard {
	padding-top:20vh;
}

.hasError, #passwordMismatchError {
	
	Border-color: red;
}

.course1 {
	background-color: #FF8E90;
}

.course2 {
	background-color: #6053F1;
}

.course3 {
	background-color: #57FA5A;
}

.dark-col-1{
	background-color: #FF4245;
}

.dark-col-2{
	background-color: #2320EB;
}

.dark-col-3{
	background-color: #25F929;
}
